
*{
    margin: 0 ;
    padding: 0;
}

/***header ***/
header {
    height: 100vh; /*100 view port height = toute la hauteur de l'écran*/
    background: url("../images/montagne.jpg");
    background-size: cover; /*prends toute l'écran*/
}